# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Flutter
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# =========================
# Java / Spring Boot
# =========================
target/
*.class
*.jar

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment
# =========================
.env
.env.*
!.env.example
!**/.env.example
